<container>
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 50px">
            <h2>Information about <span class="label label-default">{{name}}</span> package.</h2>
        </div>
        <div class="col-sm-12">
            <p>Your status badge: <img style="width: 193px" src="{{badge}}" alt=""></p>
        </div>
    </div>
</container>